@font-face{
    font-family: "roboto";
    src: url(./Font/Roboto-Regular.ttf)
}

html, body {
    min-height: 100vh;
    font-family: "roboto";
} 

body {
    font-size: 20px;
    font-weight: bold;
}

button{
    border: rgb(255, 255, 255) 2px solid;
    justify-content: center;
    align-items: center;

    padding: 0px;
    font-size: 1.1em;
    font-weight: bold;
}

button:hover{
    background-color: rgb(224, 224, 224);
}

#numberContainer > button:hover,
#secondDisplayRow > button:hover{
    background-color: rgb(224, 224, 224);
    border-color: rgb(224, 224, 224);;
}

body {
    display: flex;
    flex: auto;
    justify-content: center;
}

#mainContainer {
    display: flex;
    flex-direction: column;
    flex: 0 0 350px;
    min-width: 0;
}

/* Main Container */

#calculator {
    display: flex;
    flex-direction: column;
    flex: 0 1 500px;
    max-width: 100%;

    border-radius: 1.5rem;
    padding: 7px;
    padding-bottom: 7px;
    margin-top: 10%;

    background-color: rgb(37, 37, 37);
    border: rgb(255, 255, 255) 2px solid;
}

#displayBar {
    display: flex;
    flex-direction: column;

    min-height: 0;
    flex: 0 0 40%;
}

#mainDisplay {
    display: flex;
    flex: 1 0 55%;
    min-height: 0;
    border-radius: 1rem;
    

    margin: 20px 10px 10px 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(37, 37, 37);
    border: rgb(255, 255, 255) 2px solid;
}

#Display{
    display: flex;
    flex: auto;
    padding: 25px;
    overflow: hidden;

    justify-content: flex-end;
    align-items: center;
    font-size: 3rem;
}

#secondDisplayRow {
    display: flex;
    min-height: 0px;
    flex: 0 1 20%;
    gap: 10px;

    padding: 2px 10px 10px 10px;
}




#inputContainer {
    display: flex;
    flex: 1 1 50%;
    padding: 5px;
    gap: 10px;
}

#numberContainer {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 70%;
    gap: 10px;

    border: none;
    margin: 10px 5px;
}

#functionContainer {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 30%;
    overflow: hidden;
    border: 2px solid black;

    margin: 10px 0px;
    margin-right: 5px;
    border-radius: 1em;
}


#c {
    display: flex;
    flex: 1 0 20%;
    border-radius: 0.5rem; 
}
#delete {
    display: flex;
    flex: 1 0 20%;
    border-radius: 0.5rem; 
}
#smallDisplay{
    display: flex;
    flex: 0 1 55%;
    border-radius: 0.5rem; 
    font-size: 1.1rem;
    padding-left: 10px;
    overflow: hidden;

    justify-content: flex-start;
    align-items: center;
    color: aliceblue;

    border: rgb(255, 255, 255) 2px solid;
}




#divide {
    display: flex;
    flex: 1 0 50%;
    border-right: none;
    border-left: none;
    border-top: none;
}
#multiply {
    display: flex;
    flex: 1 0 50%;
    border-top: none;
    border-right: none;
}
#addition {
    display: flex;
    flex: 1 0 50%;
    border-right: none;
    border-left: none;
    border-top: none;
}
#subtract {
    display: flex;
    flex: 1 0 50%;
    border-right: none;
    border-top: none;
}
#power{
    display: flex;
    flex: 1 0 50%;
    border-right: none;
    border-left: none;
    border-top: none;
}
#modulo{
    display: flex;
    flex: 1 0 50%;
    border-right: none;
    border-top: none;
}
#result{
    display: flex;
    flex: 1 0 100%;
    border: none;
}



#b1{
    display: flex;
    flex: 0 1 30%;

    border-radius: 1rem;  
}
#b2{
    display: flex;
    flex: 1 0 30%;

    border-radius: 1rem;  
}
#b3{
    display: flex;
    flex: 1 0 30%;

    border-radius: 1rem;  
}
#b4{
    display: flex;
    flex: 1 0 30%;

    border-radius: 1rem; 
}
#b5{
    display: flex;
    flex: 1 0 30%;

    border-radius: 1rem; 
}
#b6{
    display: flex;
    flex: 1 0 30%;

    border-radius: 1rem; 
}
#b7{
    display: flex;
    flex: 1 0 30%;

    border-radius: 1rem; 
}
#b8{
    display: flex;
    flex: 1 0 30%;

    border-radius: 1rem; 
}
#b9{
    display: flex;
    flex: 1 0 30%;

    border-radius: 1rem; 
}
#bdec{
    display: flex;
    flex: 1 0 30%;

    border-radius: 1rem; 
}
#be{
    display: flex;
    flex: 1 0 30%;

    border-radius: 1rem; 
}
#b0{
    display: flex;
    flex: 1 0 30%;

    border-radius: 1rem; 
}




